@model BookStore.ViewModels.EditorBookViewModel

@{
    ViewBag.Title = "Editando um novo livro";
}


<h2>Edição Livro</h2>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.Id)

    @Html.Partial("Partials/EditorBookPartial", Model)

    <button type="submit" class="btn btn-primary">Editar</button>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}